      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

          <!-- <a role="button" class="btn btn-primary" class="navbar-brand" href="/edit_supervisor_profile">Edit Profile</a> -->
          <a role="button" class="btn btn-primary" class="navbar-brand" href="/supervisor_sign_out">Sign Out</a>
          <a role="button" class="btn btn-primary" class="navbar-brand" href="/employees">All Employees</a>
          <a role="button" class="btn btn-primary" class="navbar-brand" href="/edit_supervisor_profile">Signed in as <%=Supervisor.where({ :id => session.fetch(:supervisor_id) }).at(0).first_name%></a>
          
          
        </div>
      </div>
    </nav>
<div >
  <h5>
    Edit Supervisor Account
  </h5>

  <div>
    <form  class="form-horizontal" action="/modify_supervisor" method="post">
      <div class="form-group">
        <label for="email_box" class="col-sm-2 control-label">Email</label>
        <input id="email_box" class="col-sm-10" name="query_email" value="<%= @current_supervisor.email %>">
      </div>
      <div class="form-group">
        <label for="first_name_box" class="col-sm-2 control-label">First name</label>
        <input id="first_name_box" class="col-sm-10" name="query_first_name" value="<%= @current_supervisor.first_name %>">
      </div>
      <div class="form-group">
        <label for="last_name_box" class="col-sm-2 control-label">Last name</label>
        <input id="last_name_box" class="col-sm-10" name="query_last_name" value="<%= @current_supervisor.last_name %>">
      </div>
      <div class="form-group">
        <label for="employees_count_box" class="col-sm-2 control-label">Employees count</label>
        <input id="employees_count_box" class="col-sm-10" name="query_employees_count" value="<%= @current_supervisor.employees_count %>">
      </div>

      <div class="form-group">
        <label for="password_box" class="col-sm-2 control-label">Password</label>
        <input id="password_box" class="col-sm-10" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div class="form-group">
        <label for="password_confirmation_box" class="col-sm-2 control-label">Password Confirmation</label>
        <input id="password_confirmation_box" class="col-sm-10" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Update Account</button>
    </div>
  </div>
    </form>
  </div>
</div>

<hr>

  <h5>
    Employees reporting to <%=Supervisor.where({ :id => session.fetch(:supervisor_id) }).at(0).first_name%>
  </h5>
<div>
  <div>
    <table class="table table-hover">
      <tr>
        <th>
          ID
        </th>

        <th>
          Supervisor
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Major
        </th>

        <th>
          Minor
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_employees.each do |an_employee| %>
      <tr>
        <td>
          <%= an_employee.id %>
        </td>

        <td>
          <%= an_employee.supervisor_id %>
        </td>

        <td>
          <%= an_employee.first_name %>
        </td>

        <td>
          <%= an_employee.last_name %>
        </td>

        <td>
          <%= an_employee.major %>
        </td>

        <td>
          <%= an_employee.minor %>
        </td>

        <td>
          <%= time_ago_in_words(an_employee.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_employee.updated_at) %> ago
        </td>
              <td>
        <a  role="button" class="btn btn-primary" href="/delete_employee/<%= an_employee.id %>">
          Delete employee
        </a>
      </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

